/* ============================================= */
/*              Buttons                          */
/* ============================================= */



.default {
  background-color: #51ddfc;
}

.error {
  background-color: $color-err;
}

.info {
  background-color: #927bc1;
}

.success {
  background-color: $color-pos;
}

.warning {
  background-color: #fd7856;
}

